<h2><%= @user.username %>'s Posts</h2>

<% @user.entries.each do |entry| %>
<div class="entry_<%= entry.id %>">
  <%= render partial: '/entries/entry_description', locals: {entry: entry} %>

  <% if authorized?(entry.user) %>
  <div class="authorized">
    <a class="edit_link" href="/entries/<%= entry.id %>/edit">Edit</a> |<form action="/entries/<%= entry.id %>" method="post" class="delete_link"><input type="hidden" name="_method" value="delete"><input class="submitLink" type="submit" value="Delete"></form>
  </div>
  <% end %>
</div>
<% end %>
