<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if !logged_in? %>
      <nav><a href="/users/new">Register</a> | <a href="/sessions/new">Login</a> | <a href="/entries">Home</a></nav>
      <% else %>
      <nav><a class="username_link" href="/users/<%= current_user.id %>"><%= current_user.username %></a> |<form class="logout_form" action="/sessions" method="post"><input type="hidden" name="_method" value="delete"><input class="submitLink" type="submit" value="Logout"></form>| <a class="home_link" href="/entries">Home</a></nav>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
