<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if !logged_in? %>
      <nav><%= link_to "Registration", register_path %> | <%= link_to "Login", login_path %> | <%= link_to "Home", entries_path %></nav>
      <% else %>
      <nav><%= link_to current_user.username, user_path(current_user.id) %> |<form class="logout_form" action="/sessions" method="post"><input type="hidden" name="_method" value="delete"><input class="submitLink" type="submit" value="Logout"></form>| <%= link_to "Home", entries_path %></nav>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
